<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Search Results">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>About</title>
    <link rel="stylesheet" href="nicepage.css" media="screen">
<link rel="stylesheet" href="About.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 3.11.0, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    
    
<script type="application/ld+json">{
	"@context": "http://schema.org",
	"@type": "Organization",
	"name": "",
	"url": "index.html",
    "logo": "#"
}</script>
<script>
</script>
    <meta property="og:title" content="About">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#f15048">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
  </head>
  <% var aid = auid %>
  <% var results = data['author-retrieval-response'][0] %>
  <% var coredata = data['author-retrieval-response'][0]['coredata'] %>
  <% var hindex = results['h-index'] %>
  <% var coauthor = results['coauthor-count'] %>
  <% var docu = coredata["document-count"] %>
  <% var cited = coredata["cited-by-count"] %>
  <% var citation = coredata["citation-count"] %>
  <body data-home-page="About.html" data-home-page-title="About" class="u-body">
    <header class="u-clearfix u-header u-header" id="sec-fcf8">
      <div class="u-clearfix u-sheet u-sheet-1">
        <!-- <nav class="u-align-left u-menu u-menu-dropdown u-nav-spacing-25 u-offcanvas u-menu-1">
          <div class="menu-collapse">
            <a class="u-button-style u-nav-link" href="#" style="padding: 4px 0px; font-size: calc(1em + 8px);">
              <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 302 302" style="undefined"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-7b92"></use></svg>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-7b92" x="0px" y="0px" viewBox="0 0 302 302" style="enable-background:new 0 0 302 302;" xml:space="preserve" class="u-svg-content"><g><rect y="36" width="302" height="30"></rect><rect y="236" width="302" height="30"></rect><rect y="136" width="302" height="30"></rect>
</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
            </a>
          </div>
          <div class="u-nav-container">
            <ul class="u-nav u-spacing-25 u-unstyled"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="About.html" style="padding: 8px 0px;">About</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Contact.html" style="padding: 8px 0px;">Contact</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Page-1.html" style="padding: 8px 0px;">Page 1</a>
</li></ul>
          </div>
          <div class="u-nav-container-collapse">
            <div class="u-align-center u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="About.html">About</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Contact.html">Contact</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Page-1.html">Page 1</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
         -->
         <!-- <a href="#" class="u-image u-logo u-image-1" src="">
          <img src="#" class="u-logo-image u-logo-image-1">
        </a>
      </div></header> -->
    <section class="u-align-center u-clearfix u-grey-90 u-section-1" id="carousel_6231">
      <h2 class="u-custom-font u-font-playfair-display u-text u-text-1">Search Results</h2>
      <div class="u-container-style u-expanded-width u-grey-80 u-group u-group-1">
        <div class="u-container-layout u-valign-middle-xl u-container-layout-1">
          <div class="u-expanded-width-xs u-tab-links-align-left u-tabs u-tabs-1">
            <ul class="u-spacing-10 u-tab-list u-unstyled" role="tablist">
              <li class="u-tab-item u-tab-item-1" role="presentation">
                <!-- <a class="active u-active-palette-2-light-3 u-button-style u-tab-link u-text-active-black u-text-body-alt-color u-tab-link-1" id="link-tab-14b7" href="#tab-14b7" role="tab" aria-controls="tab-14b7" aria-selected="true">Detailes</a> -->
              </li>
            </ul>
            <div class="u-tab-content">
              <div class="u-align-left u-container-style u-shape-rectangle u-tab-active u-tab-pane u-tab-pane-1" id="tab-14b7" role="tabpanel" aria-labelledby="link-tab-14b7">
                  <!-- <h5 class="u-text u-text-4" style="font-weight: bolder; padding: 5px;">Authors</h5> -->
                    <table class="u-table-entity">
                      <colgroup>
                        <col width="32.7%">
                        <col width="67.3%">
                      </colgroup>
                      <tbody class="u-table-body u-table-body-1">
                        <tr style="height: 46px; width: max-content;">
                          <td class="u-border-1 u-border-no-left u-border-no-right u-border-white u-table-cell" style="width: 200px;">H-Index :</td>
                          <td class="u-border-1 u-border-no-left u-border-no-right u-border-white u-table-cell u-table-cell-2"><%=hindex%></td>
                        </tr>
                        <tr style="height: 46px; width: max-content;">
                          <td class="u-border-1 u-border-no-left u-border-no-right u-border-white u-table-cell" style="width: 200px;">Co-authors:</td>
                          <td class="u-border-1 u-border-no-left u-border-no-right u-border-white u-table-cell u-table-cell-4"><%=coauthor%></td>
                        </tr>
                        <tr style="height: 46px; width: max-content;">
                            <td class="u-border-1 u-border-no-left u-border-no-right u-border-white u-table-cell " style="width: 200px;">Documents Published :</td>
                            <td class="u-border-1 u-border-no-left u-border-no-right u-border-white u-table-cell u-table-cell-4"><%=docu%></td>
                          </tr>
                          <tr style="height: 46px; width: max-content;">
                            <td class="u-border-1 u-border-no-left u-border-no-right u-border-white u-table-cell" style="width: 200px;">Cited-By :</td>
                            <td class="u-border-1 u-border-no-left u-border-no-right u-border-white u-table-cell u-table-cell-4" style="width: fit-content;"><%=cited%></td>
                          </tr>
                          <tr style="height: 46px; width: max-content;">
                            <td class="u-border-1 u-border-no-left u-border-no-right u-border-white u-table-cell" style="width: 200px;">Citations :</td>
                            <td class="u-border-1 u-border-no-left u-border-no-right u-border-white u-table-cell u-table-cell-4"><%=citation%></td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <form action="/saveauth" method="POST" id="my-form" style="display: none;">
                <input type="text" name="hindex" value="<%=hindex%>"> 
                <input type="text" name="coauthors" value="<%=coauthor%>">
                <input type="text" name="documents" value="<%=docu%>">
                <input type="text" name="citedby" value="<%=cited%>">
                <input type="text" name="citations" value="<%=citation%>">
                <input type="text" name="auid" value="<%=aid%>">
               </form>
               <div class="btndiv">&nbsp;<button class="button button1" type="submit" id="Save_Author" form="my-form">Save to List</button></div> 
               <div class="btndiv">&nbsp;<a href="/overview"><button class="button button1">Back to Home</button></a></div> 
            </div>
            
          </div>
        </div>
      </div>
    </section>
    
<!--     
    <footer class="u-clearfix u-footer u-grey-80" id="sec-356f"><div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-align-center u-container-style u-group u-group-1">
          <div class="u-container-layout u-valign-middle u-container-layout-1">
            <p class="u-small-text u-text u-text-variant u-text-1">Sample footer text</p>
          </div>
        </div>
      </div></footer>
    <section class="u-backlink u-clearfix u-grey-80">
      <a class="u-link" href="https://nicepage.com/website-templates" target="_blank">
        <span>Website Templates</span>
      </a>
      <p class="u-text">
        <span>created with</span>
      </p>
      <a class="u-link" href="https://nicepage.com/" target="_blank">
        <span>Website Builder Software</span>
      </a>. 
    </section> -->
  </body>
</html>